.App {
  text-align: center;
  color: #333;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.badbox {
  background: #faa;
}

.categories .letter {
  display: none;
}

.categories:focus-within .letter {
  display: inline;
}

.category {
  font-size: larger;
  background: white;
  border-radius: 5px;
  border: thin black solid;
  margin: 2px;
  min-width: 200px;
}

.category:hover {
  background: #f2f2f2;
}

.boxcolumns {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.separated {
  margin-bottom: 50px;
}

.boxcol {
  width: 50%;
}

.panel {
  background: #fbfbfb;
  border: thin #ccc solid;
  border-radius: 20px;
  padding: 20px;
}

textarea {
  width: 60%;
  font-size: medium;
}

.mainbox {
  max-width: 1000px;
  margin: auto;
}

.centered {
  margin: auto;
}

.buttons {
  margin: 1em auto;
  column-width: 200px;
}

.counter {
  column-width: 200px;
  column-rule: 1px solid #888;
}

.counter .row {
  flex-direction: column;
}

.counter .row span:first-child {
  display: inline-block;
  min-width: 170px;
  font-weight: bold;
}

h1 {
  margin-bottom: 0.2em;
}
h2 {
  margin-top: 0.2em;
  font-style: italic;
}

h3 {
  margin-top: 0.2em;
}

.emph {
  font-style: italic;
}

.currentWord {
  font-size: large;
  font-weight: bold;
}
